<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="{{ path('homepage') }}" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Links</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="generic.html">Ipsum veroeros</a></li>
        <li><a href="generic.html">Tempus etiam</a></li>
        <li><a href="generic.html">Consequat dolor</a></li>
        <li><a href="elements.html">Elements</a></li>
    </ul>
</nav>