{% extends 'base.html.twig' %}

{% block title %}Espace d'administration{% endblock %}

{% block main %}
    <div class="container">
        <h1>Espace administration</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="path-tab" data-toggle="tab" href="#path" role="tab" aria-controls="path" aria-selected="true">Parcours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="false">Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="false">Liens</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {% include 'admin/admin_path.html.twig' %}
            {% include 'admin/admin_project.html.twig' %}
            {% include 'admin/admin_link.html.twig' %}
        </div>
    </div>
{% endblock %}
